@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto:wght@300&display=swap');
.navbar {
    background: rgb(17, 208, 170);
    background: -moz-linear-gradient(4deg, rgba(17, 208, 170, 1) 0%, rgba(0, 130, 255, 1) 66%);
    background: -webkit-linear-gradient(4deg, rgba(17, 208, 170, 1) 0%, rgba(0, 130, 255, 1) 66%);
    background: linear-gradient(4deg, rgba(17, 208, 170, 1) 0%, rgba(0, 130, 255, 1) 66%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#11d0aa", endColorstr="#0082ff", GradientType=1);
}

.navbar-brand {
    color: white !important;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-right: 7rem;
}

.navbar-nav a {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    gap: 1rem;
    padding-right: 2.5rem !important;
}

.navbar-nav a:hover {
    color: white !important;
    transition: 0.3s ease 0s;
}

.navbar-nav .active {
    color: rgba(255, 255, 255, 1) !important;
}

.navbar-nav a .username {
    color: rgba(255, 255, 255, 0.6) !important;
    font-weight: bold;
}